@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

body{
    background-color: hsl(217, 54%, 11%);
}

.container{
    background-color:hsl(216, 50%, 16%);
    width: 20em;
    border-radius: 25px;
    padding: 22px 22px 22px 22px  ;
    -webkit-box-shadow: -1px -2px 83px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -2px 83px -1px rgba(0,0,0,0.75);
    box-shadow: -1px -2px 83px -1px rgba(0,0,0,0.75);
    
    
    margin: auto;
    margin-top: 20px;
    margin-bottom: 45px;
}


.imagen{
    width: 20em;
    border-radius: 10px;
}

.contianer-in-line{
    display: flex;
    justify-content: space-between;  
}

.flex{
    display: inline-flex;  
}

.avatar{
    width: 38px;
    height: 38px;   
}

.space-between{
    margin: auto;
    margin-left: 15px;   
}


.border{
    margin: auto;
    padding: auto;
    width: 38px;
    height: 38px;
    border-style: solid  ;
    border-color: hsl(0, 0%, 100%);
    border-radius: 100px;
}

hr{
    background-color: hsl(215, 51%, 70%);
    border-style: hidden;
    margin-bottom: 20px;
    height: 0.5px;
}

.style-clock , .style-eth{
    margin-right: 10px;
}
span{
    color: hsl(178, 100%, 50%) !important;
}

p{
   color:hsl(215, 51%, 70%);
}
.sapn-style{
    font-weight: 60px;
    color: hsl(0, 0%, 100%) !important;
}
h2{
    color: hsl(0, 0%, 100%);
    font-family: 'Outfit', sans-serif;
    
}

p{
    font-family: 'Outfit', sans-serif;
}

.attribution { 
    font-size: 15px; 
    margin: auto;
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

    @media (max-width:375px) {

        .container{
            width: 15em;
            margin: auto;
            margin-top: 15px;
            margin-bottom: 30px;
        }
        
        .imagen{
            width: 15em;
        }
        .avatar{
            width: 28px;
            height: 28px;   
        }
        .border{
            width: 28px;
            height: 28px; 
        }
        .attribution { 
            text-align: center; }
    }